@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-height: 100vh;
}

body {
    background-color: #111;
    color: whitesmoke;
}

@layer base {
    h1 {
        @apply font-bold;
    }
}